body  #mybody{
		background:#777777;
		font: 12px Arial, Helvetica, sans-serif;
		
}

#wrapper {
			background:#ffffff
			margin:auto;
			width:auto;

}


#logo {
		background:#777777;
		width:auto;
		height:auto;
}


#header {
			background:#111111;
			height:auto;

}

#slider {
			background:#777777;
			height:auto;
}


#nav {
		background:#666666;


}

#leftbar {
			width:auto;
			float:left;

}


#content {
			background:#333333;
			clear:both;


}

.boxheader {

}

.boxslider  {

}

.boxnav {

}

.boxside{


}

.boxcontent {


}


.boxfooter {


}

.boxlogo {


}




